.all-requests {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.all-requests .title {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  border-bottom: 1px solid #707070;
}

.all-requests .all-orders-container {
  padding: 0 14px;
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  background-color: white;
}
