.order-box {
  width: 100%;
  background-color: white;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.27);

  border-radius: 10px;
  padding: 20px 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.order-box .details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
}

.order-box .details .sprite {
  width: 96px;
  height: 96px;
}
.order-box .details .basics {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.order-box .details .moves {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.order-box .buttons {
  width: 100%;
}
