.order-box {
  width: 100%;
  background-color: white;

  border: 3px solid #707070;

  border-radius: 10px;
  padding: 15px;
  margin: 14px 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.order-box .details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
}

.order-box .details .sprite {
  width: 96px;
  height: 96px;
  margin: 6px;
}
.order-box .details .basics {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.order-box .details .moves {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
}

.order-box .buttons {
  width: 100%;
}
